# Set the base URL to localhost if running a mock server, otherwise use the actual API URL
BASE_URL=https://localhost:3000
# Set debug mode to true to enable detailed logging
DEBUG=false
# DO NOT add api key if not needed for testing. An invalid API key will return error 401.
# API_KEY=ABC123
